@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #a6eba6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;  /* Faz tocar na ponta da página(reseta o padrão)*/
    padding: 0;
}
header{
    background-image: linear-gradient(to top, #124112ee, #1ea31e);

    height: 180px;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 0;
}
#menu{
    text-align: center;
    margin-top: 50px;
    display: inline;

}
a{
    text-decoration: none;
    color: white;
    padding-right: 15px;

}

main{
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.296);
    text-align: justify;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1px 20px 1px 20px;
    
}
.titulo{
        font-family: 'idroid';
        font-weight: normal;
        color:rgba(18, 65, 18, 0.933);
    }
.subtitulo{
    font-family: 'idroid';
    font-weight: normal;
    color:rgba(18, 65, 18, 0.933);
    background-image: linear-gradient(to right, lightgreen, white);
    padding-left: 5px;
}
.texto{
    text-indent: 25px;
}

img{

    display: block;
    width: 100%;
}

#bug{
    margin: auto;
    display: block;
    width: 40%;
}
iframe{
    padding: 10px;
    margin: auto;
    display: block;
    width: 60%;
    height: 300px;
}
#vid{

    margin: auto;
    background-color:#124112ee;
}
h3{
    background-color: rgb(100, 179, 100);
    color: white;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#extra{
    padding: 10px;
    background-color: #c9f7c9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}

#esq{
    float: left;
    width: 50%;
    text-decoration: underline;
}
#dir{
    float: right;
    width: 50%;
    text-decoration: underline;
}

li::before{
    content: '✓';
}

li{
    text-align: left;
}

footer{
    background-color: #124112ee;
    color: white;
    text-align: center;
    padding: 5px;
}