@charset "UTF-8";
/*O código acima permite que o arquivo CSS aceite acentuações. É bom iniciar com isto porque pode haver alguma incompatibilidade.*/
body{
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: rgba(255, 21, 52, 0.945);
    background-color: black;
}
h2{
  color:white;  
}
p{
    color: white;
    text-align: justify;
}